{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block body %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% endif %}
{% endif %}
<div>
  <h2 class="loginTitle">
    Login
  </h2>
</div>
<form method="post" action="{% url 'products:login' %}">
{% csrf_token %}
<div>
  <div class="userNameMain">
    <span class="userName">{{ form.username }}</span>
  </div>

  <div class="userPasswordMain">
    <span class="userPassword">{{ form.password }}</span>
  </div>
</div>
<div class="loginBtnMain">
  <input type="submit" value="Login" class="loginBtn"/>
</div>
<input type="hidden" name="next" value="{{ next }}" />
</form>
<div class="registerLink">
  <p><a href="{% url 'products:register' %}" class="register">Create account</a></p>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
<div class="lostLink">
  <p><a href="{% url 'products:password_reset' %}" class="lostPassword">Lost password?</a></p>
</div>

{% endblock %}