{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
{% endblock %}
{% block body %}
<div>
    <h2 class="resetTitle">Reset Password</h2>
</div>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="userEmailMain">
        <p class="userEmail">{{ form.email }}</p>
    </div>
    <div class="resetBtnMain">
        <input type="submit" class="resetBtn" value="Reset password" />
    </div>
</form>

{% endblock %}