.homePage {
    font-size: 26px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}
.homePage:after {
    content: "";
    display: block;
    height: 3px;
    width: 35px;
    margin: auto;
    margin-top: 15px;
    position: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333333;
    opacity: .5;
}
.gridViewItem {
    text-align:center;
}


.omoriImg {
    position: relative;
    display: block;
    margin: 0 auto 10px;
    z-index: 1000;
}

.product-photo{
    max-height:500px;
    max-width:100%;
    height:auto;
}

.gridSignature {
    position: relative;
    color: black;
    text-align: center;
    display: block;
    text-decoration: none;
}
.productTitle a {
    text-decoration: none;
    color: black;
}
.productTitle {
    margin-bottom: 10px;
}
.productVendor {
    margin-bottom: 10px;
    font-size: 20px;
}
.productPrice {
    margin-bottom: 10px;
    font-size: 20px;
}
