.logout {
    margin-top: 100px;
    text-align: center;
}
.logout-logIn {
    margin-top: 20px;
    font-size: 20px;
}
.logout-link-logIn {
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
.logout-link-backMenu {
    text-decoration: none;
    color: black;
}
.backMenu {
    font-size: 20px;
    margin-top: 10px;
}
.logout-link-logIn {

}