.resetTitle {
    font-size: 26px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}
.resetTitle:after {
    content: "";
    display: block;
    height: 3px;
    width: 35px;
    margin: auto;
    margin-top: 15px;
    position: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333333;
    opacity: .5;
}
.userEmailMain {
    text-align: center;
    margin-top: 50px;
}
#id_email {
    position: relative;
    height: 38px;
    justify-content: left;
    border: 1px solid #b3b3b3;
    width: 350px;
}
.resetBtnMain {
    text-align: center;
    margin-top: 20px;
}
.resetBtn {
    position: relative;
    text-align: center;
    color: white;
    background: #9f9f9f;
    border: none;
    width: 202px;
    height: 38px;
    cursor: pointer;
}
.resetBtn:hover {
    background: black;
}