{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UWUDEAD - {% block title %}{% endblock %}</title>
    <script src="{% static 'js/header.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/footer.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
{#    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.css">#}
{#	<link rel="preconnect" href="https://fonts.googleapis.com">#}
{#	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#	<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&display=swap" rel="stylesheet">#}
<script
  src="{% static 'js/jquery.js' %}"></script>
<!--    python manage.py runserver-->
</head>
<body>
    {% include 'inc/_header.html' %}
    {% block body %}{% endblock %}
    {% include 'inc/_footer.html' %}
</body>
<script src="{% static 'js/ajax_search.js' %}"></script>
</html>