{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UWUDEAD - {% block title %}{% endblock %}</title>
    <script src="{% static 'js/header.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
<!--    python manage.py runserver-->
</head>
<body>
    {% include 'inc/_header.html' %}
    {% block body %}{% endblock %}
    {% include 'inc/_footer.html' %}
</body>
</html>