{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}
{% block title %}Sign up{% endblock %}

{% block body %}
<div>
    <h2 class="registerTitle">Create Account</h2>
</div>
    <div>
	        <form method="POST">
		        {% csrf_token %}
                <div class="userNameMain">
                    <span class="userName">
                        {{ register_form.username }}
                    </span>
                </div>
                {{ register_form.username.errors }}
                <br>
                <div class="userEmailMain">
                    <span class="userEmail">
                        {{ register_form.email }}
                    </span>
                </div>
                {{ register_form.email.errors }}
                <br>
                <div class="userPasswordMain1">
                    <span class="userPassword1">
                        {{ register_form.password1 }}
                    </span>
                </div>
<!--                {{ register_form.password1.help_text }}-->
                {{ register_form.password1.errors }}
                <br>
                <div class="userPasswordMain2">
                    <span class="userPassword2">
                        {{ register_form.password2 }}
                    </span>
                </div>
                {{ register_form.password2.errors }}
                <br>
                <div class="registerBtnMain">
                    <button type="submit" class="registerBtn">Register</button>
                </div>
	        </form>
        <div class="registerLink">
            <p><a href="/" class="register">Return to store</a></p>
        </div>
    </div>
{% endblock %}