{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title%}Profile{% endblock %}
{% block body %}
<div>
    <h2 class="profileTitle">My Account</h2>
</div>
<div class="orderHistoryMain">
    <h4 class="orderHistory">
        Order History
    </h4>
    <p class="orders">

        <table>
            <tr>
                <th>Date Ordered</th>
                <th>Reference Code</th>
                <th>Items</th>
                <th>Price</th>
            </tr>
        {% for order in my_orders %}
            <tr>
                <td>{{ order.date_ordered }}</td>
                <td>{{ order.ref_code }}</td>
                <td>
        	        {% for item in order.items.all %}
        		        {{ item.product.name }}
      		        {% endfor %}
      	        </td>
                <td>${{ order.get_cart_total }}</td>

            </tr>
      {% empty %}
            <tr>
                <td> You haven't placed any orders yet.</td>
            </tr>
      {% endfor %}
    </table>
    </p>
    <div class="pagination"></div>
</div>
<div class="accountDetailsMain">
    <h4 class="accountDetails">
        Account Details
    </h4>
    <h4 class="userName">
        {{ user.get_username }}
    </h4>
    <p class="country">
        Russian Federation
    </p>
    <a href="/account/logout" class="logoutBtn">Log out</a>
</div>
{% endblock %}