<!--{% load static %}-->
<!--<footer>-->
<!--	<div class="footer">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="foot-item col-md-3">-->
<!--					<div class="foot_item_links">-->
<!--					    <div class="h3 footerHeader">Info</div>-->
<!--					    <ul class="footer-link-content">-->
<!--					        <li>-->
<!--					            <a href="/pages/about">About UWUDEAD</a>-->
<!--					        </li>-->
<!--					        <li>-->
<!--					            <a href="http://www.omocat-shop.com/community/contact">Contact Us</a>-->
<!--					        </li>-->
<!--					        <li>-->
<!--					            <a href="http://www.omocat-shop.com/community/faq">FAQ</a>-->
<!--					        </li>-->
<!--					    </ul>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="foot-item col-md-3">-->
<!--					<div class="foot_item_media">-->
<!--						<div class="h3 footerHeader">Social Media</div>-->
<!--						<ul class="logo_of_media">-->
<!--							<li><a href="#" class='social-media-link facebook'><i class="fa fa-facebook fa2" id='fb' aria-hidden="true"></i></a></li>-->
<!--							<li><a href="#" class='social-media-link twitter'><i class="fa fa-twitter" id='twi' aria-hidden="true"></i></a></li>-->
<!--							<li><a href="#" class='social-media-link instagram'><i class="fa fa-instagram fa2" id='inst' aria-hidden="true"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="foot-item col-md-3">-->
<!--					<div class="foot_item_news">-->
<!--					    <div class="h3 footerHeader">Newsletter</div>-->
<!--					    <form method="post" action="/contact#newsletter-footer_form" id="newsletter-footer_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">-->
<!--					        <div class="input-group">-->
<!--					            <input type="email" value="" placeholder="email@example.com" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="email@example.com">-->
<!--					            <input type="hidden" name="contact[tags]" value="newsletter">-->
<!--					            <span>-->
<!--					                    <input type="submit" class="btn footer-email-submit" name="subscribe" id="subscribe" value="JOIN US">-->
<!--					            </span>-->
<!--					        </div>-->
<!--					    </form>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</footer>-->