* {
    margin: 0;
    padding: 0;
    font-family: Inconsolata, sans-serif;
}
li {
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p {
    position: relative;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    display: block;
}
.header-links {
    position: relative;
    bottom: 80px;
    left: 400px;
    justify-content: end;
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 34px;
}
.search-icon {
    transition: .3s;
    margin-right: 34px;
    width: 21px;
    height: 24px;
    background: url('../img/search.svg') no-repeat;
}
.search-icon:hover {
    background:url('../img/search-hover.svg')no-repeat 50% 50%;
}
.user-icon {
    transition: .3s;
    margin-right: 34px;
    width: 21px;
    height: 24px;
    background: url('../img/user.svg') no-repeat;
}
.user-icon:hover {
    background:url('../img/user-hover.svg')no-repeat 50% 50%;
}
.buy-icon {
    transition: .3s;
    margin-right: 34px;
    width: 21px;
    height: 24px;
    background: url('../img/shopping-cart.svg') no-repeat;
}
.buy-icon:hover {
    background:url('../img/shopping-cart-hover.svg')no-repeat 50% 50%;
}
.cancel-btn {
    background: url('../img/cansel.svg') no-repeat;
    width: 21px;
    height: 24px;
}
.cancel-btn:hover {
    background:url('../img/cansel-hover.svg')no-repeat 50% 50%;
}
#sidebar {
    position: fixed;
    width: 719px;
    height: 100vh;
    /*background-color: #57626f;*/
    border: 1px solid black;
    right: -1424px;
    transition: all 900ms;
}
.toggle-btn {
    position: relative;
}

#sidebar.active {
    right: 0px;
}

/*#sidebar ul li:first-child {*/
/*    text-align: center;*/
/*    color: white;*/
/*    font-size: 1.95em;*/
/*    list-style: none;*/
/*    padding: 20px 10px 10px 10px;*/
/*}*/

/*#sidebar ul li:not(first-child) {*/
/*    width: 90%;*/
/*    margin-left: 10%;*/
/*    color: white;*/
/*    font-size: 1.1em;*/
/*    list-style: none;*/
/*    padding: 15px 10px;*/
/*}*/

/*#sidebar ul li a {*/
/*    color: #dfe5eb;*/
/*    text-decoration: none;*/

/*}*/

/*#sidebar ul li a:hover {*/
/*    color: #59e9df;*/
/*}*/

#sidebar .toggle-btn {
    position: relative;
    left: 1800px;
    top: 0px;
    cursor: pointer;
}













p1 {
    position: relative;
    text-align: right;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    color:black;
    font-size: 18px;
    top: 183px;
}
.nav-item {
    margin-left: 34px;
    display: inline-block;
    position: relative;
}


.nav-link {
    color: black;
    text-decoration: none;
    transition: color .2s;
}
.nav-link:hover {
    color: #9f9f9f;
}
.site-nav__link {
    text-decoration: none;
    color: black;
    text-decoration: none;
    transition: color .2s;
}
.site-nav__link:hover {
    color: #9f9f9f;

}

.site-dropDownMenuCollections {
    list-style-type: none;

    position: absolute;
    z-index: 4;
    left: 60%;
    top: 25%;
    width: 150px;
    margin-top: 25px;
    padding: 0px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: .3s;

}
.nav > li:hover .site-dropDownMenuCollections{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);

}

.site-dropDownMenuApparel {
    list-style-type: none;
    position: absolute;
    z-index: 4;
    left: 85%;
    top: 25%;
    width: 150px;
    margin-top: 25px;
    padding: 0;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: .3s;
}
.nav > li:hover .site-dropDownMenuApparel{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);

}
.site-dropDownMenuAccessories {
    list-style-type: none;

    position: absolute;
    z-index: 4;
    left: 65%;
    top: 25%;
    width: 150px;
    padding: 0;
    margin-top: 25px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: .3s;
}
.nav > li:hover .site-dropDownMenuAccessories{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);

}
.site-dropDownMenuPrintedMatter {
    list-style-type: none;

    position: absolute;
    z-index: 4;
    left: 45%;
    top: 25%;
    width: 150px;
    padding: 0;
    margin-top: 25px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: .3s;
}
.nav > li:hover .site-dropDownMenuPrintedMatter{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);

}
.site-dropDownMenuShowcase {
    list-style-type: none;

    position: absolute;
    z-index: 4;
    left: 75%;
    top: 25%;
    width: 190px;
    padding: 0;
    margin-top: 25px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: .3s;

}
.nav > li:hover .site-dropDownMenuShowcase{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);

}
.site-dropDownMenuInfo {
    list-style-type: none;

    position: absolute;
    z-index: 4;
    left: 80%;
    top: 25%;
    width: 150px;
    padding: 0;
    margin-top: 25px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: .3s;
}
.nav > li:hover .site-dropDownMenuInfo{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);

}
